.body {
    margin:5% 0% 100% 5%;
    overflow: hidden;
    background-color: #152B39;
    font-family: Courier, monospace;
    font-size: 14px;
    color:#ccc; 
    border-left: 10%;
  }
.input{
    margin:2% 0% 5% 0%;

}
.visiteur{
    border: 10px;
    float: right;
    border-width: 20px;
}
.schema-stat-logs{
    float: left;
    width: 45%;
    height: 45%;
    border: 1px solid #555;   
}