<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='login.css') }}">
    <title>Authentification</title>
</head>
<body>
        <div class="error">
            {{ error_login }}
        </div>
        
    <center>
        <div class="valider">
            <form action="http://127.0.0.1:5000" method="post">
                <label for="email">
                    <input type="email" id="email" placeholder="Email ***" name="login">
                </label>
                <label for="password">
                    <input type="password" id="password" placeholder="Password ***" name="password">
                </label>
                <button type="submit">Valider</button>
            </form>
        </div>
    </center>
</body>
</html>
